<div class="row row-sm">
    <div class="col-sm-4">
        <div class="panel panel-card">
            <div class="item">
                <img data-ng-src="{{award.imageUri | kswUrlFilter}}" class="w-full r-t" alt="Washed Out">
            </div>
            <div class="p">
                <h3>{{award.title}}</h3>
                <p> {{award.description}}</p>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="panel panel-default">
            <div class="panel-heading bg-white">
                SETTINGS
            </div>
            <div class="panel-body">
                <form role="form">
                    <div class="form-group">
                        <label for="award-belongs-to">Award belongs to:</label>
                        <select id="award-belongs-to" class="form-control">
                            <option>Public</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="initial-pledge-required">Initial pledge required:</label>
                        <input class="form-control" type="text" data-ng-model="award.initialPledgeRequired"
                               ng-readonly="true" id="initial-pledge-required">
                    </div>
                    <div class="form-group">
                        <label for="who-can-pledge">Who can Pledge:</label>
                        <input class="form-control" type="text" data-ng-model="whoCanPledge" ng-readonly="true"
                               id="who-can-pledge"/>
                    </div>
                    <a class="btn btn-success" data-ng-click="showConnection()">ADD CANDIDATE</a>
                    <div class="form-group">
                        <md-autocomplete
                                ng-disabled="isDisabled"
                                md-no-cache="noCache"
                                md-selected-item="selectedItem"
                                md-search-text="searchText"
                                md-items="item in querySearch(searchText)"
                                md-item-text="item.title"
                                md-selected-item-change="selectedItemChange(item)"
                                placeholder="Type to add candidate">
                            <span md-highlight-text="searchText">{{item.title}}</span>
                        </md-autocomplete>
                    </div>
                    <div class="md-list md-whiteframe-z0 bg-white m-b" data-ng-if="connections.isShow">
                        <div class="md-list-item" data-ng-repeat="person in connections.people"
                             data-ng-click="selectCandidate(person)">
                            <div class="md-list-item-left">
                                <img data-ng-src="{{person|kswImageFilter:100:person.id}}" class="w-full circle">
                            </div>
                            <div class="md-list-item-content">
                                <h3 class="text-md" title="{{person.title}}">{{person.title}}</h3>
                                <small class="font-thin" title="{{person.email}}">{{person.email}}</small>
                            </div>
                        </div>
                    </div>
                    <div class="p" data-ng-if="selectedCandidate.id">
                        <img data-ng-src="{{selectedCandidate|kswImageFilter:100:selectedCandidate.id}}"
                             alt="{{selectedCandidate.title}}"/>
                    </div>
                    <div class="form-group" data-ng-if="selectedCandidate.id">
                                    <textarea data-ng-model="awardNominationData.comment" class="form-control"
                                              placeholder="Type your comment here..."></textarea>
                    </div>
                    <div class="form-group" data-ng-if="selectedCandidate.id">
                        <a class="btn btn-success" data-ng-click="nominate()">NOMINATE</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="panel panel-default">
            <div class="panel-heading bg-white">
                TAGS
            </div>
            <div class="panel-body">
                <form role="form">
                    <div class="form-group">
                        <label for="add-tags">Add Tags:</label>
                        <input type="text" class="form-control" id="add-tags">
                    </div>
                    <button type="submit" class="btn btn-success m-b">Add</button>
                </form>
            </div>
        </div>
    </div>
</div>
