<div class="box bg-white">
  <!--<div class="navbar md-whiteframe-z1 no-radius" ng-class="$state.current.data.theme ? $state.current.data.theme.primary : app.setting.theme.primary">-->
      <!--&lt;!&ndash; brand &ndash;&gt;-->
      <!--<a class="navbar-brand">       -->
        <!--&lt;!&ndash;<img src="images/logo1.png" alt="." style="max-height: 36px;">&ndash;&gt;-->
        <!--<img data-ng-if="currentAccount.isPersonal" data-ng-src="{{currentAccount | kswImageFilter: 128:currentAccount.accountId}}" class="img-responsive rounded" style="max-height: 36px;"/>-->
        <!--<img data-ng-if="!currentAccount.isPersonal" data-ng-src="{{currentAccount | kswImageFilter: 113:currentAccount.accountId:true}}" class="img-responsive rounded" style="max-height: 36px;"/>-->
        <!--<span class="hidden-folded m-l inline">{{currentAccount.userName}}</span>-->
      <!--</a>-->
      <!--&lt;!&ndash; / brand &ndash;&gt;-->
  <!--</div>-->
  <div class="box-row">
    <div class="box-cell scrollable hover">
      <div class="box-inner" ng-scrollable="{scrollX:'none',scrollY:'right'}">
        <div class="p hidden-folded" ng-class="$state.current.data.theme ? $state.current.data.theme.primary+'-50' : app.setting.theme.primary+'-50'">

          <div class="rounded w-64 bg-white inline pos-rlt current-user">
            <img data-ng-src="{{personalAccountInfo | kswImageFilter: 113:personalAccountInfo.accountId}}" class="img-responsive rounded" id="imgSrc"/>
          </div>
          <a class="block m-t-sm" ui-toggle-class="hide, show" target="#nav, #account">
            <span class="block font-bold text-md" id="userName">
              {{currentAccount.userName}}
              <span class="pull-right auto">
              <i class="fa inline fa-caret-down"></i>
              <i class="fa none fa-caret-up"></i>
            </span>
            </span>
            <span class="text-sm">{{currentAccount.accountType}}</span>
          </a>
        </div>
        <div id="nav" ng-include="'views/partials/aside.nav.uikit.html'"></div>
        <div id="account" class="hide m-v-xs">
          <nav>
            <ul class="nav">
              <li>
                <a md-ink-ripple ui-sref="page.profile({ accountId : personalAccountInfo.accountId })">
                  <i class="icon mdi-action-perm-contact-cal i-20"></i>
                  <span>My Profile</span>
                </a>
              </li>
              <li>
                <a md-ink-ripple ui-sref="page.settings">
                  <i class="icon mdi-action-settings i-20"></i>
                  <span>Settings</span>
                </a>
              </li>
              <li>
                <a md-ink-ripple data-ng-click="signOut()">
                  <i class="icon mdi-action-exit-to-app i-20"></i>
                  <span>Logout</span>
                </a>
              </li>
              <li class="m-v-sm b-b b"></li>
              <li>
                <a md-ink-ripple ui-fullscreen>
                  <i class="icon mdi-navigation-fullscreen i-24"></i>
                  <span>Fullscreen</span>
                </a>
              </li>
              <li>
                <!--<div class="nav-item">
                  <label class="md-check">
                    <input type="checkbox" ng-model="app.setting.asideFolded">
                    <i class="{{app.setting.theme.accent}} no-icon"></i>
                    <span class="hidden-folded">Folded aside</span>
                  </label>
                </div>-->
              </li>              
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
