<md-dialog>
    <md-content>
        <div class="box-row">
            <div class="col-xs-12 col-sm-12 col-md-12 p">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6 m-b-sm">
                        <select class="form-control" ng-model="selectedPeoplePickerGroup"
                                ng-selected="0"
                                ng-options="group as group.value for group in peoplePickerGroups"
                                data-ng-change="updatePeoplePickerResults(selectedPeoplePickerGroup)"></select>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6">
                        <div class="input-group">
                            <input type="text" class="form-control" data-ng-model="peopleSearchText"
                                   placeholder="Search people....."
                                   data-ng-keyup="$event.keyCode == 13 ? findPeople(peopleSearchText) : null">
                                <span class="input-group-btn">
                                    <button class="btn btn-info" type="button" data-ng-click="findPeople(peopleSearchText)">Search</button>
                                </span>
                        </div>
                        <!-- /input-group -->
                    </div>
                </div>
            </div>
        </div>
        <div class="box-row" id="modalPeoplePicker">
            <div class="col-xs-12 col-sm-10 col-md-10 col-md-offset-1">
                <div data-ng-repeat="(groupName,groupValue) in selectedGroup" class="row" >
                    <div data-ng-if="groupValue.length > 0" class="col-xs-12 col-sm-12 col-md-12" >
                        <h4>{{groupName | capitalize}}</h4>
                        <div class="row" style="margin:0px;">
                            <div class="col-sm-4 col-md-4 custom-people-picker-card p-v-sm"
                                 data-ng-repeat="person in groupValue | filter: peopleSearchText">
                                <div class="card" data-ng-class="{ 'selected-card': person.isSelected }"
                                     data-ng-click="toggleSelectPeople(person)">
                                    <div style="position: relative;padding-left: 82px;min-height: 76px;">
                                        <div style="width:76px; height:76px; position: absolute; left: 0px; top: 0px;">
                                            <img ng-src="{{person | kswImageFilter: 101:person.id}}">
                                        </div>
                                        <div class="p-sm">
                                            <p class="p-v-sm" title="{{person.title}}">{{person.title}}</p>
                                            <p class="email-container" title="{{person.email}}">{{person.email}}</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="clearfix visible-md-block" data-ng-if="$index/1==0"></div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--  <div class="grid-container" style="margin-top: 8px"><a href="" class="button warning"  data-ng-click="hidePeoplePicker()">Close</a></div> -->
        </div>
    </md-content>
    <div class="md-actions" layout="row">
        <md-button ng-click="selectPeople()" class="btn btn-success">
            OK
        </md-button>
        <md-button ng-click="cancelModal()" class="btn btn-warning">
            CANCEL
        </md-button>
    </div>
</md-dialog>