<div class="row">
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading bg-white">
                WEB LINK
                <br>
            </div>
            <div class="panel-body">
                <form role="form">
                    <div class="form-group">
                        <div class="form-group">
                            <label for="newWebLinkUrl">Url</label>
                            <input type="text" class="form-control" id="newWebLinkUrl" placeholder="Url"
                                   data-ng-model="newWebLink.fileUrl" data-ng-blur="getLinkDetails()">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="tags">Tags</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="tags" data-ng-model="newWebLink.tag"
                                   placeholder="TAGS">
                                        <span class="input-group-btn">
                                            <button class="btn btn-success" type="button"
                                                    data-ng-click="addNewTag(newWebLink.tag)">ADD
                                            </button>
                                        </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label data-ng-repeat="tag in newWebLink.tags track by $index">{{tag}}</label>
                    </div>
                    <div class="form-group">
                        <img data-ng-src="{{newWebLink.imgSrc}}" alt=""/>
                    </div>
                    <div class="form-group">
                        <div class="form-group">
                            <label for="newWebLinkTitle">Title</label>
                            <input type="text" class="form-control" id="newWebLinkTitle" placeholder="Title"
                                   data-ng-model="newWebLink.spaceName">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="newWebLinkDescription">Description</label>
                                        <textarea name="newWebLinkDescription" id="newWebLinkDescription" class="form-control" cols="30"
                                                  rows="5" data-ng-model="newWebLink.docContents"></textarea>
                    </div>
                    <button type="submit" class="btn btn-success" data-ng-click="saveNewWebLink()">CREATE</button>
                </form>
            </div>
        </div>
    </div>
</div>