<div class="row">
    <div class="col-sm-3">
        <div class="panel panel-default">
            <div class="panel-heading bg-white">
                Document
                <br>
                <img data-ng-src="{{space | kswSpaceIconFilter}}" alt=""/>
            </div>
            <div class="panel-body">
                <form role="form">
                    <div class="form-group">
                        <label for="spaceTitle">Title</label>
                        <input type="text" class="form-control" id="spaceTitle" data-ng-model="space.spaceName">
                    </div>
                    <a href="{{space.fileUrl | kswUrlFilter}}" class="btn btn-warning" target="_blank">DOWNLOAD</a>
                    <button type="submit" class="btn btn-success" data-ng-click="updateSpace()">Save</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-sm-9">
        <div class="md-whiteframe-z0 bg-white" ng-include="'views/partials/ksw/space/viewSpace.html'"></div>
    </div>
</div>