<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <tags-input ng-model="selectedEntity"
                    min-length="1"
                    placeholder="Type here"
                    on-tag-added="onEntitySelected($tag)"
                    add-from-autocomplete-only="true"
                    display-property="title"
                    replace-spaces-with-dashes="false"
                    template="tag-template">
            <auto-complete template="autocomplete-template"
                           source="loadEntity($query)">
            </auto-complete>
        </tags-input>
    </div>
</div>

<script type="text/ng-template" id="autocomplete-template">
    <div class="autocomplete-template">
        <div class="left-panel">
            <img ng-src="{{data._id | kswImageFilter:60:data._id:false}}" data-ng-if="data.entityType == 'Person'"/>
            <img ng-src="{{data._id | kswImageFilter:60:data._id:true}}" data-ng-if="data.entityType == 'Organization'"/>
        </div>
        <div class="right-panel">
            <span ng-bind-html="$highlight($getDisplayText())"></span>
        </div>
    </div>
</script>

<script type="text/ng-template" id="tag-template">
    <div class="tag-template">
        <div class="left-panel">
            <img ng-src="{{data._id | kswImageFilter:60:data._id:false}}" data-ng-if="data.entityType == 'Person'"/>
            <img ng-src="{{data._id | kswImageFilter:60:data._id:true}}" data-ng-if="data.entityType == 'Organization'"/>
        </div>
        <div class="right-panel">
            <span>{{$getDisplayText()}}</span>
            <a class="remove-button" ng-click="$removeTag()">&#10006;</a>
        </div>
    </div>
</script>

<style type="text/css">
    .custom-modal{
        width: 50%;
    }

    .tag-template .left-panel {
        float: left;
    }

    .tag-template .left-panel img {
        width: 24px;
        height: 24px;
        vertical-align: middle;
    }

    .tag-template .right-panel {
        float: left;
        margin-left: 5px;
    }

    .autocomplete-template .left-panel {
        float: left;
    }

    .autocomplete-template .left-panel img {
        width: 48px;
        height: 48px;
        vertical-align: middle;
    }

    .autocomplete-template .right-panel {
        float: left;
        margin-left: 5px;
        margin-top: 7px;
    }

    .autocomplete-template .right-panel span:first-child {
        font-size: 16px;
    }

    .autocomplete-template .right-panel span:nth-child(2) {
        font-size: 14px;
        color: gray;
    }

    .autocomplete-template .right-panel span:last-child {
        display: block;
        font-size: 14px;
        font-style: italic;
    }
</style>