<div class="panel people-picker md-whiteframe-z1" data-ng-if="peoplePickerFlag">
    <div class="box-row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 m-b-sm">
                    <select class="form-control" ng-model="selectedPeoplePickerGroup"
                            ng-selected="0"
                            ng-options="group as group.value for group in peoplePickerGroups"
                            data-ng-change="updatePeoplePickerResults(selectedPeoplePickerGroup)"></select>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6">
                    <div class="input-group">
                        <input type="text" class="form-control" data-ng-model="peopleSearchText"
                               placeholder="Search people....."
                               data-ng-keyup="$event.keyCode == 13 ? findPeople(peopleSearchText) : null">
                            <span class="input-group-btn">
                                <button class="btn btn-info" type="button" data-ng-click="findPeople(peopleSearchText)">Search</button>
                            </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="box-row">
        <div class="col-xs-12 col-sm-12 col-md-12 people-list-container" ng-scrollbars>
            <div data-ng-repeat="(groupName,groupValue) in selectedGroup" class="row" >
                <div data-ng-if="groupValue.length > 0" class="col-xs-12 col-sm-12 col-md-12" >
                    <div class="row" style="margin:0px;">
                        <div class="col-sm-12 col-md-12">
                            <h4>{{groupName | capitalize}}</h4>
                        </div>
                    </div>
                    <div class="row" style="margin:0px;">
                        <div class="col-sm-6 col-md-6 custom-people-picker-card" data-ng-repeat="person in groupValue | filter: peopleSearchText">
                            <div class="card"
                                 data-ng-class="{ 'selected-card': person.isSelected }"
                                 data-ng-click="toggleSelectPeople(person)">
                                <div style="position: relative;padding-left: 82px;min-height: 70px;">
                                    <div style="width:70px; height:70px; position: absolute; left: 0px; top: 0px;">
                                        <img ng-src="{{person | kswImageFilter: 101:person.id}}">
                                    </div>
                                    <div>
                                        <p title="{{person.title}}">{{person.title}}</p>
                                        <p class="email-container" title="{{person.email}}">{{person.email}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>