<footer class="pos-fix">
    <div class="container text-white-lt">
        <div class="row">
            <div class="col-sm-7">

                <ul class="list-inline">
                    <li><a href="#/app/public/about">about us</a></li>
                    <li><a href="#/app/public/policy">policy</a></li>
                    <li><a href="#/app/public/support">support</a></li>
                    <li><a href="#/app/public/faq">faq</a></li>
                </ul>
            </div>
            <div class="col-sm-5 text-right">&copy; copyright 2015, SiSigma. All rights reserved.</div>
        </div>
</footer>