<div class="row row-sm p">
    <!--<div class="col-sm-6 col-md-5 col-md-offset-1">-->
      <div class="col-sm-6 m-b-n">  
        ACCEPT CONNECTIONS | <strong>{{selectedAccount.name}}</strong>
    </div>
    <div class="col-sm-6 col-md-5">
        <a ui-sref="connection.create({type: type, accountId: accountId})" class="btn btn-success btn-sm-w-full pull-right">Create</a>
    </div>
</div>
<div class="row row-sm">
    <div class="col-sm-6">  
    <!--<div class="col-sm-6 col-sm-6 col-md-5 col-md-offset-1">-->
        <div class="row p">
            <div class="col-sm-6">
                <h6>CONNECTION REQUEST</h6>
            </div>
            <div class="col-sm-6">
                <a href="" class="btn btn-success" data-ng-click="acceptAll()">Accept All</a>
            </div>
        </div>
        <div class="row p">
            <div class="col-sm-12">
                <div class="md-list md-whiteframe-z0 bg-white m-b">
                    <div class="md-list-item" data-ng-repeat="request in allConnections.connectionRequests">
                        <div class="md-list-item-left">
                            <img data-ng-if="request.entityType == 'Person'" class="w-full circle"
                                 data-ng-src="{{request.entityId | kswImageFilter: 60:request.entityId}}"
                                 alt=""/>
                            <img data-ng-if="request.entityType == 'Organization'" class="w-full circle"
                                 data-ng-src="{{request.entityId | kswImageFilter: 60:request.entityId:true}}"
                                 alt=""/>
                        </div>
                        <div class="md-list-item-content">
                            <div class="row">
                                <div class="col-sm-6">
                                    <h3 class="text-md">{{request.title}}</h3>
                                    <small class="font-thin">{{request.entityType}}</small>
                                </div>
                                <div class="col-sm-6">
                                    <div class="input-group">
                                        <input type="text" data-ng-model="request.relation" class="form-control" ng-disabled="true"/>
                                        <span class="input-group-btn">
                                            <button class="btn btn-success waves-effect" type="button" data-ng-click="acceptRequest(request)">
                                                <i class="pull-right glyphicon glyphicon-ok" title="Send"></i>
                                            </button>
                                        </span>
                                        <span class="input-group-btn">
                                            <button class="btn btn-warning waves-effect" type="button" data-ng-click="rejectRequest(request)">
                                                <i title="Remove"
                                                   class="pull-right glyphicon glyphicon-remove"></i>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--<div class="col-sm-6 col-sm-6 col-md-5">-->
        <div class="col-sm-6 col-sm-6">
        <div class="row p">
            <div class="col-sm-6">
                <h6>PEOPLE YOU MAY KNOW</h6>
            </div>
            <div class="col-sm-6">
                <a href="" class="btn btn-success" data-ng-click="sendRequestAll()">Send Request to
                    All</a>
            </div>
        </div>
        <div class="row p">
            <div class="col-sm-12">
                <div class="md-list md-whiteframe-z0 bg-white m-b">
                    <div class="md-list-item" data-ng-repeat="recommended in allConnections.recommendedConnections">
                        <div class="md-list-item-left">
                            <img data-ng-if="recommended.entityType == 'Person'"
                                 data-ng-src="{{recommended.entityId | kswImageFilter: 60:recommended.entityId}}"
                                 alt="" class="w-full circle"/>
                            <img data-ng-if="recommended.entityType == 'Organization'"
                                 data-ng-src="{{recommended.entityId | kswImageFilter: 60:recommended.entityId:true}}"
                                 alt="" class="w-full circle"/>
                        </div>
                        <div class="md-list-item-content">
                            <div class="row">
                                <div class="col-sm-6">
                                    <h3 class="text-md">{{recommended.title}}</h3>
                                    <small class="font-thin">{{recommended.entityType}}</small>
                                </div>
                                <div class="col-sm-6">
                                    <div class="input-group">
                                        <input type="text" data-ng-model="recommended.relation" class="form-control"/>
                                        <span class="input-group-btn">
                                            <button class="btn btn-success waves-effect" type="button" data-ng-click="sendRequest(recommended)">
                                                <i class="pull-right glyphicon glyphicon-ok" title="Send"></i>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
